#Mission{
    text-align: center;
    margin: 0vh 10vw;
}

img{
    min-width: none;
    /* center images */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;   
}

#talkback{
    margin: 0vh 10vw;
    position: relative;
    padding: 10px;
}

#chris{
    margin: 0vh 10vw;
    position: relative;
}

.description{
    margin: 0vh 10vw;
    max-width: 100%;
}

h1{
    margin-left: 5vw;
}

h2{
    text-align: center;
}

#aboutSection{
    margin-bottom: 5vh 10vw;
}

#offer {
    margin-bottom: 10vh;
}