h1{
    margin-left: 5vw;
}

.about{
    margin-bottom: 5vh;
}

h2{
    text-align: center;
}

.description , h3, h4{
    margin: 0vh 10vw;
    max-width: 100%;
}

img{
    max-width: 100%;
    min-width: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding: 30px;
}
#steamboat{
    align-items: center;
    margin:0vh 10vw;
    position: relative;
}